@import url('https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gayathri&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');

*  {
  padding:0px;
  margin: 0px;

  box-sizing: border-box;

}

main {
  display: flex;
  height: 100vh;
}
.left-container {
  background-color: #162D7D;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.right-container {
  display: block;
  width: 55%;
}

.left-p {
  color: white;
  font-size: 3em;
}
  

h1 {
  font-size: 5rem;
  color: white;
  font-family: 'Saira Stencil One', cursive;

}
.float {
  margin: 20px 0 150px 15%;
}

ul {
  display: inline;
  list-style-type: none;
  border: 1px solid #C4C4C4;
  padding: 1px 5px 5px 3px;
  cursor: pointer;
  margin: 20px 10% 120px 0;
  background-color: #EFEFEF;
}

ul li {
  display: inline;
  border-right: 1px solid #C4C4C4;
  padding: 5px 5px 5px 0;
  font-family: 'Gayathri', sans-serif;
  font-size: .8rem;
}

ul li:hover {
  color: blue;
}

.chi {
  border: none;
}

.inner-p {
  color: black;
  font-size: 1rem;
}

h2 {
  font-size: 1.5em;
  clear: both;
  text-align: center;
  margin-bottom: 40px;
  font-family: 'Fredoka One', cursive;

}

#name-error,
#email-error,
#password-error {
  visibility: hidden;
  margin-bottom: 15px;
  color: lightcoral;
}

.signup-form {
  width: 70%;
  margin: 0 auto 10px;
}

.bottom {
  width: 70%;
  margin: 0 auto 40px auto;
}
input {
  margin-bottom: 6px;
  display: block;
  width: 100%;
  padding: 20px;
  border-radius: 6px;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}



button {
  font-size: 2rem;
  color: white;
  border-radius: 6px;
  display: block;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  background-color: #162D7D;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bottom {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 996px) {
  h1 {
    font-size: 3rem;
    color: white;
    font-family: 'Saira Stencil One', cursive;
  
  }

  .left-p {
    color: white;
    font-size: 1.4em;
  }
}

@media screen and (max-width: 680px) {
  .left-container{
    display: none;
  }

  .right-container {
    display: block;
    width: 100%;
  }

  ul li {
    font-size: .5rem;
  }

  ul li {
    padding: 9px 5px 5px 0;


  }

}